.transactionHistory {
  width: 100%;

  th,
  td {
    padding: 8px;
  }
}

.place {
  width: 10%;
  text-align: center;
}

.userBody {
  background-color: var(--correct-color);
  color: var(--nav-bar-color);
}
.crownPlace {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
