.transactionHistory {
  width: 100%;

  th,
  td {
    padding: 8px;
  }
}

.place {
  width: 10%;
  text-align: center;
}

.profileLink {
  color: var(--correct-color);
}

.userBody {
  background-color: var(--correct-color);
  color: var(--nav-bar-color);

  .profileLink {
    color: var(--nav-bar-color);
  }
}
.crownPlace {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.nameCol {
  margin-left: 50px;
  width: 300px;
}

.nameWrapper {
  display: flex;
  align-items: center;
  margin-left: 70px;
  gap: 10px;
}
