@mixin button {
  position: absolute;
  top: 5px;
  cursor: pointer;
  background-color: var(--nav-bar-color);
  color: var(--correct-color);

  width: 150px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  border: none;

  transition: 200ms all ease;

  &:hover {
    background-color: var(--correct-color);
    color: var(--nav-bar-color);
  }
}

.playerCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.nameWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileWrapper {
  width: 100%;
  color: var(--correct-color);
}

.profileLink {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--correct-color);
}

.userResults {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  gap: 20px;
}

.replayButton {
  @include button();
  right: 10px;
}

.startButton {
  position: absolute;
  top: 5px;
  right: 5px;

  cursor: pointer;
  background-color: var(--nav-bar-color);
  color: var(--correct-color);

  width: 250px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  border: none;

  transition: 200ms all ease;

  &:hover {
    background-color: var(--correct-color);
    color: var(--nav-bar-color);
  }
}

.nextGameButton {
  @include button();
  right: 170px;
}

.startNotify {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px;
  color: var(--correct-color);
}
