.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.recordModal {
  width: 35%;
  display: flex;
  border-radius: 10px;
  padding: 30px;
  flex-direction: column;
  position: absolute;
  background-color: var(--table-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
