:global {
  body[data-theme="joker"] {
    --caret-color: var(--joker-secondary-text);
  }

  body[data-theme="aurora"] {
    --caret-color: var(--aurora-secondary-text);
  }

  body[data-theme="cheesecake"] {
    --caret-color: var(--cheesecake-secondary-text);
  }

  body[data-theme="orange"] {
    --caret-color: var(--orange-secondary-text);
  }

  body[data-theme="ukraine"] {
    --caret-color: var(--ukraine-secondary-text);
  }

  body[data-theme="matrix"] {
    --caret-color: var(--matrix-secondary-text);
  }
}

.caretWrapper {
  position: relative;
  display: inline-block;
  background-color: transparent;
  width: 14px;
  height: 23px;
  margin-top: 7px;
}

.thinCaret {
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: var(--caret-color);
  width: 2px;
  height: 28px;
}

.filledCaret {
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: var(--correct-color);
  width: 16px;
  height: 28px;
}

.outlinedCaret {
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 16px;
  padding-left: 4px;
  height: 30px;
  border: 1px solid var(--correct-color);
}

.underlineCaret {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 16px;
  border-bottom: 2px solid var(--caret-color);
}
