:global {
  body[data-theme="joker"] {
    --clue-color: var(--joker-main-text);
    --backgroud-clue-color: var(--joker-background);
  }

  body[data-theme="aurora"] {
    --clue-color: var(--aurora-main-text);
    --backgroud-clue-color: var(--aurora-background);
  }

  body[data-theme="cheesecake"] {
    --clue-color: var(--cheesecake-main-text);
    --backgroud-clue-color: var(--cheesecake-background);
  }

  body[data-theme="orange"] {
    --clue-color: var(--orange-main-text);
    --backgroud-clue-color: var(--orange-background);
  }

  body[data-theme="ukraine"] {
    --clue-color: var(--ukraine-main-text);
    --backgroud-clue-color: var(--ukraine-background);
  }

  body[data-theme="matrix"] {
    --clue-color: var(--matrix-secondary-text);
    --backgroud-clue-color: var(--matrix-background);
  }
}

.clue {
  display: block;
  text-align: center;
  color: var(--clue-color);
}

.key {
  background-color: var(--clue-color);
  padding: 3px 10px;
  border-radius: 5px;
  color: var(--backgroud-clue-color);
}
