.loginPage {
  margin-top: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.loginLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.7;
  pointer-events: none;
  pointer-events: none;
  z-index: 999;
}

.spinner {
  color: var(--clue-color);
}
