.restartButton {
  display: block;
  border: none;
  cursor: pointer;
  padding: 7px 25px;
  border-radius: 5px;
  color: #7554a3;
  background-color: transparent;
  transition: 200ms all ease;
}

.restartButton:hover {
  background-color: rgba(51, 65, 85, 0.5);
}

.restartButton:focus {
  background-color: aliceblue;
}
