.quotePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typingArea {
  position: relative;
  display: flex;
  width: 100%;
  word-break: break-all;
  align-items: center;
  justify-content: center;
}
