.playersList {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 30px;
}

.typingArea {
  position: relative;
  display: flex;
  width: 99%;
  word-break: break-all;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-bottom: 30px;
}

.gamePage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.gameSubTitle {
  margin-right: auto;
  margin-left: 5px;
  font-size: 22px;
  color: var(--correct-color);
  margin-bottom: 20px;
}

.gameCode {
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 14px;
}
