.generatedWords {
  color: #7554a3;
  font-size: 28px;
  font-weight: 400;
  width: 100%;
  overflow-wrap: break-word;
}

.space {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 30px;
}

.spaceIcon {
  position: absolute;
  bottom: -6px;
}
