.redChar {
  font-weight: 400;
  font-size: 28px;
  color: #e32b2b;
}

.yellowChar {
  font-weight: 400;
  font-size: 28px;
  color: #e9e2f5;
}

.spaceChar {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 30px;
  background-color: transparent;
  color: #e9e2f5;
}

.spaceIcon {
  position: absolute;
  bottom: -6px;
}

.redSpaceIcon {
  position: absolute;
  bottom: -6px;
  color: #e32b2b;
}

.userTyping {
  position: absolute;
  left: 0;
  top: 0;
}
