.themeOptions {
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
  padding: 20px 0;
  div {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 2px 10px;
    border: 1px solid #fff;
    display: inline-block;
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }
  .themewhite {
    background-color: #eee;
  }
  .themeblue {
    background-color: #1e41c1;
  }
  .themeorange {
    background-color: #b64b1e;
  }
  .themepurple {
    background-color: #7852ae;
  }
  .themegreen {
    background-color: #5faf3b;
  }
}
