.themeOptions {
  text-align: right;
  padding: 20px 0;
  div {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 2px 10px;
    border: 1px solid #fff;
    display: inline-block;
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }
  .themeJoker {
    background-color: var(--joker-main-text);
  }
  .themeAurora {
    background-color: var(--aurora-main-text);
  }
  .themeCheesecake {
    background-color: var(--cheesecake-main-text);
  }
  .themeOrange {
    background-color: var(--orange-main-text);
  }
  .themeUkraine {
    background-color: var(--ukraine-main-text);
  }
  .themeMatrix {
    background-color: var(--matrix-secondary-text);
  }
}
