.yourPosition {
  width: 100%;
  height: 45px;
  background-color: var(--table-color);
  color: var(--main-color);
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
