.userInfo {
  color: var(--correct-color);
}

.mainWrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;

  padding: 30px;
  background-color: var(--table-color);
}

.userStats {
  display: flex;
  align-items: center;
  gap: 40px;
}

.divide {
  height: 130px;
  width: 8px;
  border-radius: 10px;
  background-color: var(--backgroud-color);
}

.avatar {
  height: 110px;
  width: 110px;
  pointer-events: none;
}

.avatarImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.userWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.username {
  font-size: 28px;
  font-weight: 600;
}

.joined {
  font-size: 14px;
  color: var(--header-icon-color);
}

.statsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 28px;
  font-weight: 600;
}

.statsValue {
  font-size: 16px;
  color: var(--header-icon-color);
}

.highestsResults {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timerHighestsResults {
  display: flex;
  justify-content: space-around;
  width: 49%;
  height: 150px;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 50px;
  padding: 30px;
  background-color: var(--table-color);
  margin-bottom: 50px;
}

.wordsHighestsResults {
  display: flex;
  justify-content: space-around;
  width: 49%;
  height: 150px;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 50px;
  padding: 30px;
  background-color: var(--table-color);
  margin-bottom: 50px;
}

.sideProfile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  align-items: center;
  padding: 30px;
  font-size: 30px;
  background-color: var(--table-color);
}

.editButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--header-icon-color);
  position: absolute;
  right: 0;
  top: 0;
  height: 50%;
  border-top-right-radius: 10px;
  transition: 200ms all ease;

  &:hover {
    background-color: var(--correct-color);
    color: var(--table-color);
  }
}

.linkButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--header-icon-color);
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50%;
  border-bottom-right-radius: 10px;
  transition: 200ms all ease;

  &:hover {
    background-color: var(--correct-color);
    color: var(--table-color);
  }
}

.maxHigh {
  border-top-right-radius: 10px;
  height: 100%;
}
